@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  background-color: rgb(42, 7, 65);
}

#pantalla-inicio {
  display: inline-block;
  position: relative;
}

#pantalla-gameover {
  display: inline-block;
  position: relative;
}

#btn-inicio {
  background-color: rgb(70, 72, 175, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  margin-top: 40px;
  border-radius: 10px;

  position: absolute;
  bottom: 5em;
  right: 18em;
  padding: 1em 1.5em;
}


              
#btn-inicio:hover{
  animation-name: swing;
      -webkit-animation-name: swing;
      -moz-animation-name: swing;
  animation-duration: 1s;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
}

  @keyframes swing {
      20% {transform: rotate3d(0, 0, 1, 15deg);}
      40% {transform: rotate3d(0, 0, 1, -10deg);}
      60% {transform: rotate3d(0, 0, 1, 5deg);}
      80% {transform: rotate3d(0, 0, 1, -5deg);}
      to  {transform: rotate3d(0, 0, 1, 0deg);}
  }
            
              

#btn-reinicio {
  background-color: rgb(70, 72, 175, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 15px;
  margin-top: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: 3em;
  right: 15.5em;
  padding: 1em 1.5em;
  font-family: "Press Start 2P", cursive;
}

#btn-reinicio:hover{
  animation-name: swing;
      -webkit-animation-name: swing;
      -moz-animation-name: swing;
  animation-duration: 1s;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
}

  @keyframes swing {
      20% {transform: rotate3d(0, 0, 1, 15deg);}
      40% {transform: rotate3d(0, 0, 1, -10deg);}
      60% {transform: rotate3d(0, 0, 1, 5deg);}
      80% {transform: rotate3d(0, 0, 1, -5deg);}
      to  {transform: rotate3d(0, 0, 1, 0deg);}
  }

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas {
  display: none;
  background-color: rgb(41, 6, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

#pantalla-gameover {
  display: none;
}

#marcador {
  display: none;
}

#marcador {
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 16px;
  margin-top: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: 82%;
  right: 62%;
  padding: 0em 1em;
  font-family: "Press Start 2P", cursive;
}

#btn-pausa {
  display: none;
  background-color: rgb(70, 72, 175, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 11px;
  margin-top: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: 93%;
  right: 23%;
  padding: 1em 1.5em;
  font-family: "Press Start 2P", cursive;

  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
            
}

#btn-pausa:hover{
  box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  -moz-transform:translate(0px,5px);
}
