@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  background-color: rgb(42, 7, 65);
}

#pantalla-inicio {
  display: inline-block;
  position: relative;
}

#pantalla-gameover{
    display: inline-block;
    position: relative;  
}

#btn-inicio {
  background-color: rgb(70,72,175,255);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  margin-top: 40px;
  border-radius: 10px;
  
  position: absolute;
  bottom: 5em;
  right: 18em;
  padding: 1em 1.5em;

    -webkit-animation: 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
}

#btn-reinicio {
  background-color: rgb(70,72,175,255);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 15px;
  margin-top: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: 3em;
  right: 15.5em;
  padding: 1em 1.5em;
  font-family:'Press Start 2P', cursive;
}


.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas {
  display: none;
  background-color: rgb(41, 6, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px
}

#pantalla-gameover{
  display: none;
}


#marcador{
  display:none
}

#marcador {
  
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 16px;
  margin-top: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: 84%;
  right: 65%;
  padding: 0em 1em;
  font-family: 'Press Start 2P', cursive;
}

#btn-pausa{
  display: none;
  background-color: rgb(70,72,175,255);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 11px;
  margin-top: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: 91%;
  right: 21%;
  padding: 1em 1.5em;
  font-family: 'Press Start 2P', cursive;
}